<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome in currency game</title>
</head>
<body>
<h1>Currency Game App</h1>

        <td th:text="${rate}"/>
        <td th:text="${code}"/>

<form action="#" th:action="@{/start}" th:object="${userGuess}">
    <label for="userGuess">First name:</label><br>
    <input type="text" id="userGuess" name="rate" ><br>

    <input type="submit" value="Submit">
</form>


<!--    <tr th:each="randomCurrencyName: ${currency}">-->
<!--        <td th:text="${randomCurrencyName.getRates}"/>-->
<!--        <td th:text="${randomCurrencyName.getCode}"/>-->


<!--<tr th:each="currencyRandom: ${currency}">-->

<!--<table>-->
<!--    <td th:text="${currency.getCurrency()}"/>-->
<!--<tr th:each="currencyRandom: ${currency}">-->

<!--    <td th:text="${currencyRandom.getCode}"/>-->
<!--    <td th:text="${currencyRandom.getRateMid}"/>-->









<!--</table>-->
</body>
</html>