<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome in currency game</title>
</head>
<body>
<h1>Currency Game App</h1>

<p>This would be hidded in final version, presented for testing purpose :</p>
<td th:text="${rateCode}"/>

<p>Guess rate of :</p>
<td th:text="${rate}"/>





<!--<form action="#" th:action="@{/start}" th:object="${userInput}">-->
<!--    <label for="userGuess">First name:</label><br>-->
<!--    <input type="text" id="userGuess" name="rate" ><br>-->

<!--    <input type="submit" value="Submit">-->
<!--</form>-->


<!--<form action="#" th:action="@{/start}" th:object="${rate}">-->
<!--    <label for="userGuess">First name:</label><br>-->
<!--    <input type="text" id="userGuess" name="rate" ><br>-->

<!--    <input type="submit" value="Submit">-->
<!--</form>-->

<form action="#" th:action="@{/start}" th:object="${userInput}" method="post">

        <p>Input your rate guess: <input type="text" th:field="*{mid}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

</form>
<td th:text="${result}"/>
<p>Number of guesses :</p>
<td th:text="${counter}"/>


<!--    <tr th:each="randomCurrencyName: ${currency}">-->
<!--        <td th:text="${randomCurrencyName.getRates}"/>-->
<!--        <td th:text="${randomCurrencyName.getCode}"/>-->


<!--<tr th:each="currencyRandom: ${currency}">-->

<!--<table>-->
<!--    <td th:text="${currency.getCurrency()}"/>-->
<!--<tr th:each="currencyRandom: ${currency}">-->

<!--    <td th:text="${currencyRandom.getCode}"/>-->
<!--    <td th:text="${currencyRandom.getRateMid}"/>-->









<!--</table>-->
</body>
</html>